<div class="Left">
  <div class="col">
<br />
{MAINSTAGE}
  </div>
</div>

<!-- RIGHT RAIL -->

<div class="Right">
  <div class="col">
  <br>
  <h1>Set Attendance {SHORTDATE} for</h1>
	  	<DIV id=listings_inside>
        {CLASSESTODO}<br />
  <h1>View Attendance {SHORTDATE} for</h1>
	  	<DIV id=listings_inside>
        {CLASSESOK}<br />
		<div class="FormBlock">
		<form action="attendance.php" method="get" name="quicksearch">
		<br>
        <h1>Search</h1>
		<br>
        Show attendance list of class<br>
        {CLASSESDROP}<br />
        <br>For day (yyyy-mm-dd)<br />
        <input name="searchdate" type="text" style="width: 220px; margin-top: 5px; font-size: 11px;"/>
        <br><br />
		<input name="search" type="submit" value="search">
		<br><br>
		</form>
  </div>
</div>

