<div class="SectionHeader">
     <img src="img/icon_emergency.gif" /> <a href="javascript:toggleLayer('student-emgc');" title="Show Emergency contacts"><img src="img/icon_showhide.gif" width="160" height="60" border="0" /></a><a href="student-emgc.php?stud_id={STUDID}"><img src="img/icon_edit.gif" width="61" height="60" border="0" /></a>
</div>
  <br />
 <div id="student-emgc">
  <table width="100%" border="0" cellspacing="1" cellpadding="4" align="center">
    <tr bgcolor="#FAFAFA">
      <td height="34" colspan="2"><strong>Contact Person 1 </strong></td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td width="31%" height="34">Name</td>
      <td width="69%" height="34">
        <input name="emgc_contact" type="text" id="emgc_contact" value="{EMGCCONTACT}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Relationship</td>
      <td height="34">
        <input name="emgc_relationship" type="text" id="emgc_relationship" value="{EMGCRELATIONSHIP}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Phone</td>
      <td height="34">
        <input name="emgc_phone" type="text" id="emgc_phone" value="{EMGCPHONE}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Mobile</td>
      <td height="34">
        <input name="emgc_mobile" type="text" id="emgc_mobile" value="{EMGCMOBILE}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Office</td>
      <td height="34" bgcolor="#FAFAFA">
        <input name="emgc_office" type="text" id="emgc_office" value="{EMGCOFFICE}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Email</td>
      <td height="34">
        <input name="emgc_email" type="text" id="emgc_email" value="{EMGCEMAIL}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34" colspan="2"><strong>Contact Person 2 </strong></td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Name</td>
      <td height="34">
        <input name="emgc2_contact" type="text" id="emgc2_contact" value="{EMGC2CONTACT}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Relationship</td>
      <td height="34">
        <input name="emgc2_relationship" type="text" id="emgc2_relationship" value="{EMGC2RELATIONSHIP}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Phone</td>
      <td height="34">
        <input name="emgc2_phone" type="text" id="emgc2_phone" value="{EMGC2PHONE}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Mobile</td>
      <td height="34">
        <input name="emgc2_mobile" type="text" id="emgc2_mobile" value="{EMGC2MOBILE}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Office</td>
      <td height="34">
        <input name="emgc2_office" type="text" id="emgc2_office" value="{EMGC2OFFICE}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Email</td>
      <td height="34">
        <input name="emgc2_email" type="text" id="emgc2_email" value="{EMGC2EMAIL}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="30">&nbsp;</td>
      <td height="30">&nbsp;</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="31%" bgcolor="#FFFFFF">?
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
 </div>