<div class="SectionHeader">
     <img src="img/icon_personal.gif" /><a href="javascript:toggleLayer('student-ps');" title="Show Personal details"><img src="img/icon_showhide.gif" width="160" height="60" border="0" /></a><a href="student-ps.php?stud_id={STUDID}"><img src="img/icon_edit.gif" width="61" height="60" border="0" /></a>
</div>
  <br />
<div id="student-ps">
  <table width="100%" border="0" cellspacing="1" cellpadding="4" align="center">
    <tr bgcolor="#FAFAFA">
      <td width="35%" height="34">Family name english </td>
      <td width="65%" height="34"><input name="lastname" type="text" id="lastname" value="{LASTNAME}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">First / middle name </td>
      <td height="34"><input name="firstname" type="text" id="firstname" style="width:155px; border: 1px solid #e9e8e7;" value="{FIRSTNAME}" />
        /
        <input name="middlename" type="text" id="middlename" style="width:166px; border: 1px solid #e9e8e7;" value="{MIDDLENAME}" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Name Chinese</td>
      <td height="34"><input name="chinesename" type="text" id="chinesename" value="{CHINESENAME}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Preferred  Name</td>
      <td height="34"><input type="text" value="{PREFNAMEDROP}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Date of Birth </td>
      <td height="34" bgcolor="#FAFAFA"><input name="placeofbirth2" type="text" id="placeofbirth2" value="{DOBDROP}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Place of Birth </td>
      <td height="34"><input name="placeofbirth" type="text" id="placeofbirth" value="{PLACEOFBIRTH}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Gender</td>
      <td height="34"><input name="placeofbirth3" type="text" id="placeofbirth3" value="{SEXDROP}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Nationality</td>
      <td height="34"><input name="nationality" type="text" id="nationality" value="{NATIONALITY}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Passport number </td>
      <td height="34"><input name="passport_nb" type="text" id="passport_nb" value="{PASSPORTNB}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Passport expires</td>
      <td height="34"><input name="passport_exp" type="text" id="passport_exp" value="{PASSPORTEXP}" style="width:140px; border: 1px solid #e9e8e7;" /> (yyyy/mm)
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Descent</td>
      <td height="34"><input name="passport_exp2" type="text" id="passport_exp2" value="{DESCENTDROP}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Present grade <br />
        (at time of application) </td>
      <td height="34"><input name="currentgrade" type="text" id="currentgrade" value="{CURRENTGRADE}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Expected length of stay</td>
      <td height="34"><input name="exp_length_stay" type="text" id="exp_length_stay" value="{EXPLENGTHSTAY}" style="width:340px; border: 1px solid #e9e8e7;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="30">Picture </td>
      <td height="30">&nbsp;</td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="30">&nbsp;</td>
      <td height="30">&nbsp;</td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td width="31%" bgcolor="#FFFFFF">&nbsp;</td>
      <td>
      </td>
    </tr>
  </table>
</div>
