<div class="SectionHeader">
     <img src="img/icon_parents.gif" /><a href="javascript:toggleLayer('student-pa');" title="Show Personal details"><img src="img/icon_showhide.gif" width="160" height="60" border="0" /></a><a href="student-pa.php?stud_id={STUDID}"><img src="img/icon_edit.gif" width="61" height="60" border="0" /></a>
</div><br />
<div id="student-pa">
  <table width="100%" border="0" cellspacing="1" cellpadding="4" align="center">
    <tr bgcolor="#FAFAFA">
      <td height="59">Legal  Custodian</td>
      <td height="59">{LEGALCUSTODIAN}</td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" colspan="2"><img src="img/txt_thefather.gif" width="109" height="27" /></td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td width="32%" height="34">Name</td>
      <td width="68%" height="34">
        <input name="fathername" type="text" id="fathername" value="{FATHERNAME}" style="width:340px; border: 1px solid #e9e8e7;" />      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Nationality</td>
      <td height="34">
        <input name="fathernationality" type="text" id="fathernationality" value="{FATHERNATIONALITY}" style="width:340px; border: 1px solid #e9e8e7;" />      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Phone</td>
      <td height="34">
        <input name="fatherphone" type="text" id="fatherphone" value="{FATHERPHONE}" style="width:340px; border: 1px solid #e9e8e7;" />      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Mobile Phone </td>
      <td height="34"><input name="fatherphone_mobile" type="text" id="fatherphone" value="{FATHERPHONEMOBILE}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Email</td>
      <td height="34"><input name="fatheremail" type="text" id="fatherphone_mobile" value="{FATHEREMAIL}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Company Phone </td>
      <td height="34"><input name="fatherphone_company" type="text" id="fatherphone" value="{FATHERPHONECOMPANY}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Company</td>
      <td height="34">
        <input name="fathercompany" type="text" id="fathercompany" value="{FATHERCOMPANY}" style="width:340px; border: 1px solid #e9e8e7;" />      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Title / Position </td>
      <td height="34" bgcolor="#FAFAFA">
        <input name="fathertitle" type="text" id="fathertitle" value="{FATHERTITLE}" style="width:340px; border: 1px solid #e9e8e7;" />      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" valign="top">Company Address </td>
      <td height="34">
        <textarea name="fathercompanyaddress" rows="3" id="fathercompanyaddress" style="width:340px; border: 1px solid #e9e8e7;">{FATHERCOMPANYADDRESS}</textarea>      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" valign="top">Home Address </td>
      <td height="34"><textarea name="fatherhomeaddress" rows="3" id="fatherhomeaddress" style="width:340px; border: 1px solid #e9e8e7;">{FATHERHOMEADDRESS}</textarea></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" valign="top">English skills </td>
      <td height="34">{FATHERLANGUAGEEN}</td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" valign="top">Chinese skills </td>
      <td height="34">{FATHERLANGUAGECN}</td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" valign="top">Native language</td>
      <td height="34"><input name="fathernative" type="text" id="fathernative" value="{FATHERNATIVE}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="10" colspan="2">&nbsp;</td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34" colspan="2"><img src="img/txt_themother.gif" /></td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td width="32%" height="34">Name</td>
      <td width="68%" height="34">
        <input name="mothername" type="text" id="mothername" value="{MOTHERNAME}" style="width:340px; border: 1px solid #e9e8e7;" />      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Nationality</td>
      <td height="34">
        <input name="mothernationality" type="text" id="mothernationality" value="{MOTHERNATIONALITY}" style="width:340px; border: 1px solid #e9e8e7;" />      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Phone</td>
      <td height="34">
        <input name="motherphone" type="text" id="motherphone" value="{MOTHERPHONE}" style="width:340px; border: 1px solid #e9e8e7;" />      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Mobile Phone </td>
      <td height="34"><input name="motherphone_mobile" type="text" id="motherphone_mobile" value="{MOTHERPHONEMOBILE}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Email</td>
      <td height="34"><input name="motheremail" type="text" id="motheremail" value="{MOTHEREMAIL}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Company phone</td>
      <td height="34"><input name="motherphone_company" type="text" id="motherphone_company" value="{MOTHERPHONECOMPANY}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Company</td>
      <td height="34">
        <input name="mothercompany" type="text" id="mothercompany" value="{MOTHERCOMPANY}" style="width:340px; border: 1px solid #e9e8e7;" />      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Title / Position </td>
      <td height="34" bgcolor="#FAFAFA">
        <input name="mothertitle" type="text" id="mothertitle" value="{MOTHERTITLE}" style="width:340px; border: 1px solid #e9e8e7;" />      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" valign="top">Company Address </td>
      <td height="34">
        <textarea name="mothercompanyaddress" rows="3" id="mothercompanyaddress" style="width:340px; border: 1px solid #e9e8e7;">{MOTHERCOMPANYADDRESS}</textarea>      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" valign="top">Home Address </td>
      <td height="34"><textarea name="motherhomeaddress" rows="3" id="motherhomeaddress" style="width:340px; border: 1px solid #e9e8e7;">{MOTHERHOMEADDRESS}</textarea></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" valign="top">English skills </td>
      <td height="34">{MOTHERLANGUAGEEN}</td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" valign="top">Chinese skills </td>
      <td height="34">{MOTHERLANGUAGECN}</td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34" valign="top">Native language</td>
      <td height="34"><input name="mothernative" type="text" id="mothernative" value="{MOTHERNATIVE}" style="width:340px; border: 1px solid #e9e8e7;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="10" colspan="2">&nbsp;</td>
    </tr>
    <!-- ADDED THIS ONE IN JUNE 2010 -->
    <tr bgcolor="#FAFAFA">
      <td height="64" valign="top">After-school carer </td>
      <td height="64"><textarea name="carer" rows="3" id="carer" style="width:340px; border: 1px solid #e9e8e7;">{CARER}</textarea></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="64" valign="top">Comments </td>
      <td height="64"><textarea name="parentsothers" rows="3" id="parentsothers" style="width:340px; border: 1px solid #e9e8e7;">{PARENTSOTHERS}</textarea></td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="32%" bgcolor="#FFFFFF">?       </td>
      <td>	</td>
    </tr>
  </table>
</div>
