<div class="Left">
  <div class="col">
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><h1>Quicklink: Show students of Classroom ...</h1><br />
	<div class='venues_letters'>
		{CLASSES}
	  </div></td>
  </tr>
  <tr>
    <td><br /><br /><h1>Quicklink: Set today's attendance for Classroom ...</h1><br />
	<div class='venues_letters'>
		{CLASSESATTEND}
	  </div></td>
  </tr>
</table>
  </div>
</div>
<div class="Right">
  <div class="col">
     <br />
	</div>
  </div>
  </div>
</div>
