<div class="Left">
  <div class="col">
<form name="myForm" method="post" action="mysetup.php">
  <div class="SectionHeader">
     <h1><img src="img/txt_user.gif" width="300" height="60" /></h1>
</div>

  <br />
  <table width="100%" border="0" cellspacing="1" cellpadding="4" align="center">
    <tr bgcolor="#FAFAFA">
      <td height="30">Username</td>
      <td width="62%" height="30"><input disabled name="this_user_uid" type="text" id="this_user_uid" value="{THISUSERUID}" style="width:200px;" /> 
        can't be changed </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="30">Password</td>
      <td height="30"><input name="this_user_pwd" type="password" id="this_user_pwd" value="{USERPWD}" style="width:200px;" /></td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="30">E-Mail Address </td>
      <td height="30"><input name="this_user_email" type="text" id="this_user_email" value="{USEREMAIL}" style="width:200px;" /></td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="38%" bgcolor="#FFFFFF">&nbsp;</td>
      <td>
	  <input name="this_user_id" type="hidden" id="this_user_id" value="{USERID}" />
      <input name="submit" type="submit" id="submit" value="submit" />	  </td>
    </tr>
  </table>
</form>
  </div>
</div>
<div class="Right">
  <div class="col">
     <br />
	</div>
  </div>
  </div>
</div>
