<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>SUIS Student Database - Student profile: {LASTNAME} {FIRSTNAME} {CHINESENAME}</title>
<style type="text/css">
<!--
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
h1 {
	font-size: 16px;
}

h2 {
	font-size: 14px;
}
-->
</style></head>

<body>
  <br />
 <table width="75%" border="0" cellspacing="1" cellpadding="4" align="TOP" valign="TOP" HEIGHT="60%">
    <tr>
<td width="26%" height="15"><b><div align="center">NO DATA YET</div></b>
      
</TD>

<TD width="50%" VALIGN="TOP">

</TD>
</TR>
</TABLE>

</body>
</html>
