<div class="Left">
  <div class="col">
{MAINSTAGE}
  </div>
</div>

<!-- RIGHT RAIL -->

<div class="Right">
  <div class="col">
  <br>
  <h1>Accounts</h1>
	  	<DIV id=listings_inside>
        <UL>
        <LI><a href="parentsaccounts.php">Show all accounts</a> 
        <LI><a href="editparentsaccount.php">Add a new account</a> 
      </UL>
	  <br />
      <div class="FormBlock">
		<form action="parentsaccounts.php" method="get" name="quicksearch">
		<br>
        <h1>Find Parents Account</h1>
		<br>
        Username<br>
        <input name="acc_uid" type="text" style="width:220px; margin-bottom:10px;">
        <br />Password<br>
        <input name="acc_pwd" type="text" style="width:220px; margin-bottom:10px;">
        <br />Email Address<br>
        <input name="acc_email" type="text" style="width:220px; margin-bottom:10px;">
        <br>
		<input name="submit" type="submit" value="search">
		<br><br>
		</form>
  </div>
</div>

