    <tr> 
      <td width="31%" height="30" colspan="2"></td>
    </tr>
    <tr> 
      <td width="31%" height="34" colspan="2"><h1>Create a parents account</h1></td>
    </tr>
    <tr> 
      <td width="31%" height="34">Create account</td>
      <td width="69%" height="34"><input name="createaccount" type="checkbox" value="1" checked> <span class="style1">Uncheck this if you don't want to automatically create a parents account</span></td>
    </tr>
    <tr> 
      <td width="31%" height="34">Username</td>
      <td width="69%" height="34"><input name="acc_uid" type="text" value="{ACCUID}" style="width:340px;" /></td>
    </tr>
    <tr>
      <td height="34">Password</td>
      <td height="34"><input name="acc_pwd" type="text" value="{ACCPWD}" style="width:340px;" /></td>
    </tr>
    <tr> 
      <td height="34">E-Mail Address </td>
      <td height="34"><input name="acc_email" type="text" value="{ACCEMAIL}" style="width:340px;" /></td>
    </tr>
