<!-- LOGO AND HEADER AT THE TOP -->
{REPORT_HEADER}

<!-- GENERAL INFO TABLE STARTS HERE -->
{FORM_INPUT_STARTS}

{TABLE_GENERAL}

<!-- SUBJECT GRADES TABLE STARTS HERE --> 
<table width="100%" border="1" cellspacing="0" cellpadding="0" align="TOP" valign="TOP">
{TABLE_SUBJECTS}
{TABLE_SUBJECTS_STREAM}
</table>
<!-- BIG TABLE WITH 2 COLUMS STARTS -->
<TABLE WIDTH="100%">
<!-- LEFT COLUMN STARTS -->
<TD width="50%" VALIGN="TOP">
<br>
<!-- TABLE FOR PERFORMANCE HERE -->
{TABLE_PERFORMANCE}

<!-- PERFORMANCE CRITERIA LEGEND STARTS HERE-->
{TABLE_PERFORMANCE_CRITERIA}

</TD><TD>&nbsp;&nbsp;&nbsp;&nbsp;</td><!-- LEFT COLUMN ENDS -->

<!-- RIGHT COLUMN STARTS -->
<TD width="50%" VALIGN="TOP" ALIGN="LEFT">
 
<br>
<!-- GRADE CRITERIA LEGEND STARTS HERE-->
{TABLE_GRADE_CRITERIA}
<br>
{TABLE_COMMENT}
{TABLE_SIGNATURES}

</TD><!-- RIGHT COLUMN ENDS -->
<!-- {STUDENTPS} -->
<!-- BIG TABLE WITH 2 COLUMS END -->
</TD>
</TR>
</TABLE>
{FORM_INPUT_ENDS}