<div class="Left">
  <div class="col">
{MAINSTAGE}
  </div>
</div>

<!-- RIGHT RAIL -->

<div class="Right">
  <div class="col">
  <br>
  <h1>Setup</h1>
	  	<DIV id=listings_inside>
        <UL>
        <LI><a href="setup.php?t=countries">Manage Countries</a> 
        <LI><a href="setup.php?t=user">Manage User</a> 
        <LI><a href="setup.php?t=levels">Manage User Rights / Levels</a> 
        <LI><a href="displayarchives.php">View archived user</a> 
      </UL>
	  <br />
      <div class="FormBlock">
		<form action="student.php" method="get" name="quicksearch">
		<br>
        <h1>Student Quicksearch</h1>
		<br>
        Family Name<br>
        <input name="lastname" type="text" style="width:220px; margin-bottom:10px;">
        <br />First Name<br>
        <input name="firstname" type="text" style="width:220px; margin-bottom:10px;">
        <br />Chinese Name<br>
        <input name="chinesename" type="text" style="width:220px; margin-bottom:10px;">
        <br>
		<input name="searchmode" type="hidden" value="2" />
		<input name="submit" type="submit" value="search">
		<br><br>
		</form>
  </div><br />

</div>

