<table width="100%" border="1" cellspacing="0" cellpadding="0" align="TOP" valign="TOP">
    <tr>
       <td width="80%" height="15" bgcolor=lightblue><font size="{FONTSIZE}">{TEXT_INTERIM}</font></td>
      <td width="{NUMCOLSIZE}" height="15" align="center" valign="middle" bgcolor="lightblue"><b><font size="{NUMBERSIZE}">1</font></b></td>
      <td width="{NUMCOLSIZE}" height="15" align="center" valign="middle" bgcolor="lightblue"><b><font size="{NUMBERSIZE}">2</font></b></td>
      <td width="{NUMCOLSIZE}" height="15" align="center" valign="middle" bgcolor="lightblue"><b><font size="{NUMBERSIZE}">3</font></b></td>
      <td width="{NUMCOLSIZE}" height="15" align="center" valign="middle" bgcolor="lightblue"><b><font size="{NUMBERSIZE}">{INTERIM_EDIT}</font></b></td>
      </tr>
      <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B1}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B1_1}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B1_2}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B1_3}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B1}</font>  </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B2}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B2_1}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B2_2}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B2_3}</font>  </td>
		<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B2}</font>  </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B3}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B3_1}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B3_2}</font>  </td>
		<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B3_3}</font>  </td>
		<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B3}</font>  </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B4}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B4_1}</font>  </td>
		<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B4_2}</font>  </td>
		<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B4_3}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B4}</font>  </td>
    <tr>
    <tr> 
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B5}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B5_1}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B5_2}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B5_3}</font>  </td>
		<td width="{NUMCOLSIZE}%" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B5}</font> </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B6}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B6_1}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B6_2}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B6_3}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B6}</font>  </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B7}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B7_1}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B7_2}</font>  </td>
		<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B7_3}</font>  </td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B7}</font>  </td>
    <tr>
    	 <tr>
      <td width="80%"  height="30" colspan="4"><font size="{FONTSIZE}">{TEXT_ABS}</font></td>
      <td colspan="2" width="5%" height="30" align="center" valign="middle"><font size="{NUMBERSIZE}">{ATTENDENCE}</font> </td>
    </tr>
         <tr>
      <td width="80%"  height="30" colspan="4"><font size="{FONTSIZE}">{TEXT_LATE}</font></td>
      <td width="{NUMCOLSIZE}" height="30" align="center" valign="middle"><font size="{NUMBERSIZE}">{LATE}</font> </td>
    </tr>
</table>