  <div class='studentbox'>
  <img src="img/icon_studentprofile.gif" align="left"/><h1>Student Profile of : <b>{MAINNAME}</b> ( {SEX} ) </h1><br />
  Status:  <b>{STATUS}</b><br />
  Student Number:  <b>{STUDNB}</b><br />
  In class: <b>{CLASSNAME}</b> <br />
  Profile created on: <b>{PROFILECREATED}</b><br />
  Profile was last updated on <b>{LUPDATE}</b> by <b>{LUPDATEUSER}</b><br />
  Enrolled: <b>{ENROLLED}</b><br />
<br /><br /><div class='subheadline'><a href='student-hm.php?stud_id={STUDID}&print=true'>Show printable version</a> | <a href="student-hm.php?move2archives=true&stud_id={STUDID}">Move to archives</a></div>
  
  </div>
{STUDENTPS}
{STUDENTPA}
{STUDENTEDU}
{STUDENTEMGC}
{STUDENTMED}
{STUDENTLANG}
  <br />
  <a name="classroom" style="margin: 0px; padding: 0px;"></a><div class='greybox'><img src="img/icon_classroom.gif" /><br />{CLASSROOM}</div><br />
  <a name="bus" style="margin: 0px; padding: 0px;"></a><div class='greybox'><img src="img/icon_transport.gif" /><br />{BUSOUT}</div><br />
   <a name="dorm" style="margin: 0px; padding: 0px;"></a><div class='greybox'><img src="img/icon_dorm.gif" /><br />{DORM}</div><br />
{STUDENTCOMMENTS}
{STUDENTPAYMENT}
{STUDENTATTENDANCE}
{STUDENTPSYCHO}
{STUDENTADBE}
<a name="classroom" style="margin: 0px; padding: 0px;"></a><div class='greybox'><img src="img/icon_parentsaccount.gif" /><br />{PARENTSACCOUNT}</div>
<br /><br />
  