<form name="myForm" method="post" action="" id="basic_form" Enctype="multipart/form-data">
  <div class='redbox'>
  {ADMINMSG}
  </div>
<div class="SectionHeader">
     <h1><img src="img/icon_emergency.gif" /> </h1>
</div>
  <br />
  <table width="100%" border="0" cellspacing="1" cellpadding="4" align="center">
    <tr bgcolor="#FAFAFA">
      <td height="34" colspan="2"><strong>Contact Person 1 </strong></td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td width="31%" height="34">Name</td>
      <td width="69%" height="34">
        <input name="emgc_contact" type="text" id="emgc_contact" value="{EMGCCONTACT}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Relationship</td>
      <td height="34">
        <input name="emgc_relationship" type="text" id="emgc_relationship" value="{EMGCRELATIONSHIP}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Phone</td>
      <td height="34">
        <input name="emgc_phone" type="text" id="emgc_phone" value="{EMGCPHONE}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Mobile</td>
      <td height="34">
        <input name="emgc_mobile" type="text" id="emgc_mobile" value="{EMGCMOBILE}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Office</td>
      <td height="34" bgcolor="#FAFAFA">
        <input name="emgc_office" type="text" id="emgc_office" value="{EMGCOFFICE}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Email</td>
      <td height="34">
        <input name="emgc_email" type="text" id="emgc_email" value="{EMGCEMAIL}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34" colspan="2"><strong>Contact Person 2 </strong></td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Name</td>
      <td height="34">
        <input name="emgc2_contact" type="text" id="emgc2_contact" value="{EMGC2CONTACT}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA"> 
      <td height="34">Relationship</td>
      <td height="34">
        <input name="emgc2_relationship" type="text" id="emgc2_relationship" value="{EMGC2RELATIONSHIP}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Phone</td>
      <td height="34">
        <input name="emgc2_phone" type="text" id="emgc2_phone" value="{EMGC2PHONE}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Mobile</td>
      <td height="34">
        <input name="emgc2_mobile" type="text" id="emgc2_mobile" value="{EMGC2MOBILE}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Office</td>
      <td height="34">
        <input name="emgc2_office" type="text" id="emgc2_office" value="{EMGC2OFFICE}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="34">Email</td>
      <td height="34">
        <input name="emgc2_email" type="text" id="emgc2_email" value="{EMGC2EMAIL}" style="width:340px;" />
      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="30">&nbsp;</td>
      <td height="30">&nbsp;</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="31%" bgcolor="#FFFFFF">  
        </td>
      <td>	  <input name="stud_id" type="hidden" id="stud_id" value="{STUDID}" />
      <input name="submit" type="submit" id="submit" value="submit" /></td>
    </tr>
  </table>
</form>