<form name="myForm" method="post" action="student-adbe.php" id="basic_form">
  <div class='redbox'>
  {ADMINMSG}
  </div>
<div class="SectionHeader">
     <h1><img src="img/icon_adbe_white.gif" width="300" height="60" /></h1>
</div>
  <br />
  <table width="100%" border="0" cellspacing="1" cellpadding="4" align="center">
    
    <tr bgcolor="#FAFAFA"> 
      <td width="54%" height="45" valign="top">1. Fails to pay attention to       details or makes careless mistakes</td>
      <td width="46%" height="45">{ADBE1}&nbsp;      </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45" valign="top">2. Has difficulty sustaining       attentions in interview</td>
      <td height="45">{ADBE2}&nbsp; </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45" valign="top"><p>3. Doesn&rsquo;t listen when spoke to       directly</p>
      </td>
      <td height="45">{ADBE3}&nbsp; </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45" valign="top">4. Doesn&rsquo;t  follow through on instructions and fails to finish interview etc</td>
      <td height="45">{ADBE4}&nbsp; </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45" valign="top">5. Has difficulties organizing       tasks and activities</td>
      <td height="45">{ADBE5}&nbsp; </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45" valign="top">6. Avoids, dislikes, or is       reluctant to engage in tasks that require sustained mental effort (poorer       concentration for difficult/challenging tasks than for easy ones)</td>
      <td height="45">{ADBE6}&nbsp; </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45" valign="top">7. Is easily distracted from interview</td>
      <td height="45">{ADBE7}&nbsp; </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45" valign="top">8. Fidgets with hands or feet,       or squirms in seat</td>
      <td height="45">{ADBE8}&nbsp; </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45" valign="top">9. Leaves seat in classroom or in       other situations in which remaining seated is expected</td>
      <td height="45">{ADBE9}&nbsp; </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45" valign="top">10. Runs or climbs excessively in       situations in which it is inappropriate</td>
      <td height="45">{ADBE10}&nbsp; </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45" valign="top">11. Talks excessively</td>
      <td height="45">{ADBE11}&nbsp; </td>
    </tr>
    
    <tr bgcolor="#FAFAFA">
      <td height="45">12. Blurts out answers before       questions have been completed</td>
      <td height="45">{ADBE12}&nbsp; </td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45">13. Has difficulty awaiting turn</td>
      <td height="45">{ADBE13}&nbsp;</td>
    </tr>
    <tr bgcolor="#FAFAFA">
      <td height="45">14. Interrupts or intrudes on       others (eg butts into conversations or games)</td>
      <td height="45">{ADBE14}&nbsp;</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="54%" bgcolor="#FFFFFF">       </td>
      <td>	  <input name="stud_id" type="hidden" id="stud_id" value="{STUDID}" />
      <input name="submit" type="submit" id="submit" value="submit" /></td>
    </tr>
  </table>
</form>