    <tr>
      <td height="15" align="left"><font size="-2">{TEXT_SS}</font></td>
    	<td height="15" align="left"><font size="-2">{ST}</font>  </td>
      <td height="15" align="center"><font size="-2">{S1}</font> 	</td>
      <td height="15" align="center"><font size="-2">{S2}</font>  </td>
      <td height="15" align="center"><font size="-2">{S3}</font>  </td>
    </tr>
    <tr>
      <td height="15" align="left"><font size="-2">{TEXT_SH}</font></td>
    	<td height="15" align="left"><font size="-2">{HGT}</font>  </td>
      <td height="15" align="center"><font size="-2">{HG1}</font> 	</td>
      <td height="15" align="center"><font size="-2">{HG2}</font>  </td>
      <td height="15" align="center"><font size="-2">{HG3}</font>  </td>
    </tr>
    <tr>
      <td height="15" align="left"><font size="-2">{TEXT_SD}</font></td>
    	<td height="15" align="left"><font size="-2">{DT}</font>  </td>
      <td height="15" align="center"><font size="-2">{D1}</font> 	</td>
      <td height="15" align="center"><font size="-2">{D2}</font>  </td>
      <td height="15" align="center"><font size="-2">{D3}</font>  </td>
    </tr>
    <tr>
      <td height="15" align="left"><font size="-2">{TEXT_SCC}</font></td>
    	<td height="15" align="left"><font size="-2">{CCT}</font>  </td>
      <td height="15" align="center"><font size="-2">{CC1}</font> 	</td>
      <td height="15" align="center"><font size="-2">{CC2}</font>  </td>
      <td height="15" align="center"><font size="-2">{CC3}</font>  </td>
    </tr>
    <tr>
      <td height="15" align="left"><font size="-2">{TEXT_SIC}</font></td>
    	<td height="15" align="left"><font size="-2">{ICT}</font>  </td>
      <td height="15" align="center"><font size="-2">{IC1}</font> 	</td>
      <td height="15" align="center"><font size="-2">{IC2}</font>  </td>
      <td height="15" align="center"><font size="-2">{IC3}</font>  </td>
    </tr>
    <tr>
      <td height="15" align="left"><font size="-2">{TEXT_SMU}</font></td>
    	<td height="15" align="left"><font size="-2">{MUT}</font>  </td>
      <td height="15" align="center"><font size="-2">{MU1}</font> 	</td>
      <td height="15" align="center"><font size="-2">{MU2}</font>  </td>
      <td height="15" align="center"><font size="-2">{MU3}</font>  </td>
    </tr>
    <tr>
      <td height="15" align="left"><font size="-2">{TEXT_SPE}</font></td>
    	<td height="15" align="left"><font size="-2">{PET}</font>  </td>
      <td height="15" align="center"><font size="-2">{PE1}</font> 	</td>
      <td height="15" align="center"><font size="-2">{PE2}</font>  </td>
      <td height="15" align="center"><font size="-2">{PE3}</font>  </td>
    </tr>