<table width="100%" border="1" cellspacing="0" cellpadding="0" align="TOP" valign="TOP">
    <tr>
       <td width="80%" height="15" bgcolor=lightblue><font size="{FONTSIZE}"><b>{TEXT_INTERIM}</b></font></td>
      <td width="{NUMCOLSIZE}" height="15" align="center" valign="middle" bgcolor="lightblue"><font size="{NUMBERSIZE}"><b>{INTERIM_EDIT}</b></font></td>
      </tr>
      <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B1}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B1}</font>  </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B2}</font></td>
		<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B2}</font>  </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B3}</font></td>
		<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B3}</font>  </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B4}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B4}</font>  </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B5}</font></td>
		<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B5}</font> </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B6}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B6}</font>  </td>
    <tr>
    <tr>
      <td width="80%" height="15"><font size="{FONTSIZE}">{TEXT_B7}</font></td>
    	<td width="{NUMCOLSIZE}" height="15" align="center" valign="middle"><font size="{NUMBERSIZE}">{B7}</font>  </td>
    <tr>
    <tr>
      <td width="80%"  height="30"><font size="{FONTSIZE}">{TEXT_ABS}</font></td>
      <td width="{NUMCOLSIZE}" height="30" align="center" valign="middle"><font size="{NUMBERSIZE}">{ATTENDENCE}</font> </td>
    </tr>
     <tr>
      <td width="80%"  height="30"><font size="{FONTSIZE}">{TEXT_LATE}</font></td>
      <td width="{NUMCOLSIZE}" height="30" align="center" valign="middle"><font size="{NUMBERSIZE}">{LATE}</font> </td>
    </tr>
</table>